:root {
  --pink-color: #da5268;
  --pinkTransparent-color: #da5268;
  --pink-compare: #fef32b;
  --blue-compare: #3e00a3bf;
  --blue-color: #0d00a3;
  --blueTransparent-color: #0e00a3bf;
  --lightgrey-bg: #d4d4d4;
  --lightgrey-2-bg: #c0c0c0;
  --darkgrey-bg: #b3b3b3;
  --darkgrey-2-bg: #333;
  --darkgrey-3-bg: #6b6b6b;
  --black: #000000;
  --pink-bright: #da5268;
}
