:root {
  --pink-color: #da5268;
  --blue-color: #0d00a3;
  --lightgrey-bg: #e0e0e0;
  --darkgrey-bg: #b3b3b3;
  --dargreay-2-bg: #333;
  --pink-bright: rgb(184, 109, 121);
}

.text-pink {
  color: #da5268;
}
.text-blue {
  color: #0d00a3;
}
.bg-lightgrey {
  background-color: #e0e0e0;
}
.bg-darkgrey {
  background-color: #b3b3b3;
}
