.content {
  margin-left: 30px;
}

.numbered-circles {
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  .numbered-circles {
    margin-bottom: 50px;
  }
}

.numbered-circle {
  width: 25px;
  height: 25px;
  border: 2.2px solid black;
  border-radius: 50%;
  color: white;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
}

.numbered-circle:nth-child(even) {
  background-color: var(--pink-color);
}

.numbered-circles p {
  margin: 0;
}

.numbered-circle p {
  color: black;
  font-weight: bold;
}
