.running-requests-list {
  margin-left: 30px;
  max-height: 80%;
}
.rotated-beat-loader {
  transform: scale(0.4) rotate(90deg);
  height: 20px;
}

.list-header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--black);
  margin-right: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.8em;
  color: var(--black);
  font-weight: bold;
}
.listContent {
  max-height: 170px;
  overflow-y: scroll;
}

.listContent::-webkit-scrollbar {
  background-color: #0000;
  width: 8px;
  position: absolute;
}


.listContent::-webkit-scrollbar-thumb {
  background-color: var(--darkgrey-bg);
  border-radius: 5px;
}

.listContent::-webkit-scrollbar-thumb:hover {
  background: var(--pink-color);
}

.process-details {
  display: grid;
  text-align: center;
  align-items: center;
  grid-template-columns: 2.9fr 1fr 1.1fr 1.1fr 1.1fr 1.1fr 0.8fr;
}

.header-item {
  text-align: right;
}

.header-item:first-child {
  text-align: left;
}

.header-item:last-child {
  text-align: right;
}

.process-details:first-child {
  text-align: left;
}
