.sidebar-container {
  display: flex;
  height: 100vh;
  position: absolute;
  left: 0;
}

.navigation-bar {
  height: 100%;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 10px;
}

.nav-button {
  display: flex;
  align-items: center;
  justify-content: center; /* Add this line to horizontally center the content */
  background-color: transparent;
  border: none;
  color: #333;
  padding: 10px;
  margin: 5px 0;
  width: 100%;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #ddd;
}

.nav-button img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  filter: invert(55%) sepia(95%) saturate(650%) hue-rotate(300deg)
    brightness(100%) contrast(101%);
}

.sidebar-content {
  width: 300px;
  flex-grow: 1;
}
