.slider {
  width: 80%;
}
.slider:hover {
  opacity: 1;
  cursor: pointer;
}

.slider {
  width: 80%;
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
  background: var(--darkgrey-bg);
  border-radius: 5px;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background: var(--pink-color);
  border-radius: 50%;
  cursor: pointer;
}

.slider:hover::-webkit-slider-thumb {
  background: var(--pink-color);
}

.slider:active::-webkit-slider-thumb {
  background: var(--blue-color);
}

.enablerectangle {
  background-color: var(--pink-bright);
}

.disablerectangle {
  background-color: var(--pink-color);
}

.enablepolygon {
  background-color: var(--pink-bright);
}

.disablepolygon {
  background-color: var(--pink-color);
}

.button-container {
  display: flex;
  margin-left: 30px;
}

.draw-button {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  padding: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.draw-square-icon {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.project-name-input {
  margin-left: 0px;
}

.project-name-input {
  width: 77%;
  display: flex;
  margin-left: 30px;
  border: 1.5px solid var(--darkgrey-bg);
  border-radius: 8px;
  background-color: var(--lightgrey-bg);
  color: var(--darkgrey-2-bg);
  padding: 5px;
}

.user-input-container{
  padding-right: 10px;
}