.refresh-container {
  position: relative;
}

.refresh-button {
  position: absolute;
  top: 4px;
  left: 8px;
}

.refresh-button {
  cursor: pointer;
}

.ring-loader-container {
  position: relative;
}

.ring-loader {
  position: absolute;
  top: 4px;
  left: 8px;
}
