.back-button {
  background-color: #ccc;
  color: #666;
}

.fa-solid fa-times {
  color: lightgrey;
}
.list-header {
  display: grid;
  grid-template-columns: 6fr 1.8fr 1.1fr 1.1fr 1.1fr;
  font-weight: bold;
  padding: 0px;
  padding-left: 4px;
  margin-top: 20px;
}
.run-details {
  display: grid;
  grid-template-columns: 6fr 1.5fr 1fr;
}

.header-item-left {
  text-align: left;
  color: #30332d;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header-item {
  text-align: center;
}

.header-item {
  text-align: left;
  color: #30332d;
  margin-left: 5%;
}

.run_list_name {
  color: var(--darkgrey-2-bg);
  margin: 0;
}

.h2_override {
  margin-top: 5px;
  margin-bottom: 20px;
}

.h4_override {
  font-weight: bold;
  margin: 0;
  margin-bottom: 2px;
  color: var(--darkgrey-bg);
}
.runs-header {
  display: flex;
  align-items: center;
}

.refresh-button {
  position: absolute;
  top: -10px;
  left: 8px;
}

.refresh-container {
  position: relative;
}

.ring-loader-container {
  position: relative;
}

.ring-loader {
  position: absolute;
  top: -10px;
  left: 8px;
}

.run-details2 {
  border: 1px solid var(--darkgrey-bg);
  border-radius: 5px;
  box-shadow: 2px 3px 10px 0px rgba(0, 0, 0, 0.05);
}

.run-details2:hover {
  border: 2px solid var(--pink-color);
}

.run-details-inner-container {
  padding: 10px;
}

.run_name {
  font-size: 16px;
  font-weight: bold;
  color: var(--black);
  padding-bottom: 5px;
}

.project-list {
  width: 100%;
  margin-left: 0px;
  margin-top: 10px;
  padding: 0;
  overflow-y: scroll;
  position: relative;
  padding-right: 4px;
  max-height: 800px;
}

@media screen and (max-height: 1500px) {
  .project-list {
    max-height: 550px;
  }
}

@media screen and (max-height: 1000px) {
  .project-list {
    max-height: 450px;
  }
}

.project-name-input {
  width: 95%;
  margin-left: 0px;
  position: relative;
  padding-right: 4px;
}
