#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 28px;
  line-height: 1.1;
  font-family: "Roboto", Arial, sans-serif;
}

h2 {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 22px;
  text-align: left;
  color: var(--blue-color);
}

h3 {
  font-size: 18px;
  font-family: "Roboto", Arial, sans-serif;
  text-align: left;
  color: var(--blue-color);
}

h4 {
  font-size: 14px;
  font-family: "Roboto", Arial, sans-serif;
  text-align: left;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  line-height: 1.4;
  color: var(--black);
  font-family: "Roboto", Arial, sans-serif;
  text-align: left;
}

a {
  font-size: 14px;
  font-family: "Roboto", Arial, sans-serif;
}

td {
  font-family: "Roboto", Arial, sans-serif;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", Arial, sans-serif;
  background-color: #da5268;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-left: 3px;
  margin-right: 3px;
}
button:hover {
  border-color: #0d00a3;
}

li {
  font-size: 14px;
  font-family: "Roboto", Arial, sans-serif;
  text-align: left;
}

.info-box {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  padding: 5px;
  max-width: 200px;
  z-index: 9999;
  font-size: 11px;
  color: #333;
  font-weight: normal;
}

.fa-info-circle {
  cursor: help;
}

.refresh-button {
  position: absolute;
  top: -5px;
  left: 5px;
}

.sidebar-content-container {
  margin-left: 30px;
  margin-right: 20px;
}

.bold {
  font-weight: bold;
}

.link-style {
  color: var(--darkgrey-3-bg);
  font-style: italic;
  text-decoration: none;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 0;
  color: var(--darkgrey-bg);
}

.close-btn:hover {
  color: var(--pink-color);
}

.missing-input {
  color: rgb(179, 0, 0);
  margin: 0;
  margin-top: 2px;
  font-size: 12px;
}

@media screen and (max-width: 600px) {
  .parent-container {
    width: 100vw;
  }

  .text-pink {
    color: var(--pink-color);
    padding-top: 80px;
    text-align: left;
    margin-left: 5vw;
  }
  .sidebar-content-container {
    margin-left: 20px;
    margin-right: 20px;
  }

  button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 16px;
    font-weight: 500;
    font-family: "Roboto", Arial, sans-serif;
    background-color: #da5268;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-left: 3px;
    margin-right: 3px;
  }

  .close-btn {
    display: none;
  }
}
